@model MembershipEditViewModel;
@{
    ViewBag.Title = "Edit";
}

    <div class="side-app">
        @*<div class="page-header">


        </div>*@
        <!-- end row -->
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <div class="card m-b-20">
                    <div class="card-header">
                        <h3 class="card-title">Edit</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="membershipName"></label>
                                        <input type="text" class="form-control" asp-for="membershipName" id="name1" placeholder="Membership Name">
                                        <span asp-validation-for="membershipName" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="gst"></label>
                                        <input type="text" asp-for="gst" class="form-control" id="name2" placeholder="GST">

                                        <span asp-validation-for="gst" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="display:none;">
                                <div class="form-group col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="amount"></label>
                                        <input type="text" class="form-control" asp-for="amount" id="name1" placeholder="Amount">
                                        <span asp-validation-for="amount" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="period"></label>
                                        <input type="text" asp-for="period" class="form-control" id="name2" placeholder="period">

                                        <span asp-validation-for="period" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" style="margin-right:5px;" class="btn btn-primary "><i class="fa fa-edit" style="margin-right:0.7em"></i>Update</button>
                            <a asp-action="index" class="btn btn-rounded btn-info float-right"><i class="fa fa-backward" style="margin-right:0.7em"></i>Back</a>



                        </form>
                    </div>
                </div>
            </div>
        </div>





    </div>


@*<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Country List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit membershipName</li>
                </ol>
            </nav><br /><br />

  

                        <form method="post" enctype="multipart/form-data" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-row">


                                <div class="form-group col-md-2">
                                    <label asp-for="membershipName"></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input asp-for="membershipName" class="form-control" />
                                    <span asp-validation-for="membershipName" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">

                                </div>

                            </div>
                            <div class="form-row" style="display:none;">


                                <div class="form-group col-md-2">
                                    <label asp-for="gst"></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input asp-for="gst" class="form-control" placeholder="Enter GST.." />
                                    <span asp-validation-for="gst" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">

                                </div>

                            </div>
                            <div class="form-row" style="display:none;">


                                <div class="form-group col-md-2">
                                    <label asp-for="amount"></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input asp-for="amount" class="form-control" placeholder="Enter Amount.." />
                                    <span asp-validation-for="amount" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">

                                </div>

                            </div>
                            <div class="form-row" style="display:none;">


                                <div class="form-group col-md-2">
                                    <label asp-for="period"></label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input asp-for="period" class="form-control" placeholder="Enter Period.." />
                                    <span asp-validation-for="period" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">

                                </div>

                            </div>
                            <div class="form-group">

                                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>
                                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                <br />
                                <br />
                                <br />

                            </div>
                        </form>
        </div>
    </div>
</div>*@

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}