@model taxEditViewmodel;
@{
    ViewBag.Title = "Edit Tax";
}
    <div class="side-app">
        @*<div class="page-header">
            
             
        </div>*@
        <!-- end row -->
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
                <div class="card m-b-20">
                    <div class="card-header">
                        <h3 class="card-title">Edit</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="name">First Name</label>
                                        <input type="text" class="form-control" asp-for="name" id="name1" placeholder="First Name">
                                        <span asp-validation-for="name" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="percentage">Percentage</label>
                                        <input type="text" asp-for="percentage" class="form-control" id="name2" placeholder="Percentage">
                                    </div>
                                </div>

                            </div>
                                <button type="submit" style="margin-right:5px;" class="btn btn-primary "><i class="fa fa-edit" style="margin-right:0.7em"></i>Update</button>
                                <a asp-action="index" class="btn btn-rounded btn-info float-right"><i class="fa fa-backward" style="margin-right:0.7em"></i>Back</a>

                                

</form>
                    </div>
                </div>
            </div>
        </div>





    </div>
 

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}