@model CustomerRegistrationEditViewModel;
@{
    ViewBag.Title = "New Registration";
}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Customer Registration List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Customer Registration</li>
                </ol>
            </nav><br /><br />


            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    @*<div class="form-group col-md-2">
                            <label asp-for="id"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <input asp-for="id" class="form-control" placeholder="EMP000" />
                            <span asp-validation-for="id" class="text-danger"></span>
                        </div>*@

                    <div class="form-group col-md-2">
                        <label asp-for="name"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="name" class="form-control" placeholder="Enter Name.." />
                        <span asp-validation-for="name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">

                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="createddate"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="createddate" class="form-control" />
                        <span asp-validation-for="createddate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="profilephoto"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="btn btn-primary btn-icon-text">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <input asp-for="profilephoto" type="file" value="Upload" />
                            <span asp-validation-for="profilephoto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="mobileno1"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="mobileno1" disabled="disabled" class="form-control" style="background-color:azure;color:black;" placeholder="Enter Mobile No.." />
                        <span asp-validation-for="mobileno1" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="mobileno2"></label>
                    </div>
                    <div class="form-check col-md-3">
                        <input asp-for="mobileno2" class="form-control" placeholder="Enter Mobile No.." />
                        <span asp-validation-for="mobileno2" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="emailid1"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="emailid1" class="form-control" placeholder="Enter Email Id.." />
                        <span asp-validation-for="emailid1" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="latitude"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="latitude" class="form-control" placeholder="Enter Latitude.." />
                        <span asp-validation-for="latitude" class="text-danger"></span>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-2">
                        <label asp-for="longitude"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="longitude" class="form-control" placeholder="Enter Longitude.." />
                        <span asp-validation-for="longitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="password"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="password" class="form-control" placeholder="Enter Adhar No.." />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-2">
                        <label asp-for="address"></label>
                    </div>
                    <div class="form-group col-md-3">

                        <input asp-for="address" class="form-control" placeholder="Enter Address.." />
                        <span asp-validation-for="address" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="gender"></label>
                    </div>
                    <div class="form-group col-md-3">
                        @*<select asp-for="gender" class="form-control" asp-items="Html.GetEnumSelectList<plathora.Entity.Gender>()"></select>*@

                        <select asp-for="gender" class="form-control">

                            <option value="Select" selected>-- Select --</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-2">
                        <label asp-for="DOB"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="DOB" class="form-control" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                </div>




                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

