<!DOCTYPE html>
@using plathora.Utility; 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - plathora</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    @*//course link*@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>
<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo"><img src="~/images/text.gif" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    @if (User.IsInRole(SD.Role_Admin))
                    {


                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Payroll" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-pound-sign fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Master</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Payroll">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Admindashboard" asp-action="Index"> Dashboard</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="CountryRegistration" asp-action="Index"> Country</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="StateRegistration" asp-action="Index"> State</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="CityRegistration" asp-action="Index"> City</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Taluka" asp-action="Index"> Taluka </a></li>

                                    @*<li class="nav-item"><a class="nav-link" asp-controller="CustomerRegistration" asp-action="Index"> Customer</a></li>*@
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="SectorRegistration" asp-action="Index"> Sector</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="BusinessRegistration" asp-action="Index"> Business </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index"> Product </a></li>

                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="PackageRegistration" asp-action="Index"> Package </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="BusinessPackage" asp-action="Index"> Business Package </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Advertise" asp-action="Index"> Advertise </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="tax" asp-action="Index"> Tax </a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Membership" asp-action="Index"> Membership</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="commission" asp-action="Index"> commission</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="AffilatePackage" asp-action="Index"> Affilate Package</a></li>


                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="BankRegistration" asp-action="Index"> Bank</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="slider" asp-action="Index"> Slider</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="AboutUs" asp-action="Edit"> AboutUs</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Video" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Video</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Video">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin"  asp-controller="Modulemaster" asp-action="Index"> Module Master</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin"  asp-controller="Video" asp-action="Index"> Video Details</a></li>
                                </ul>
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Employee" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Affilate Registration</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Employee">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="AffiltateRegistration" asp-action="Create"> New Registration</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="AffiltateRegistration" asp-action="Index"> All Details</a></li>
                                </ul>
                            </div>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#UserRegistration" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">User Registration</span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="UserRegistration">
                                <ul class="nav flex-column sub-menu">

                                    <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register"> New Registration</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index"> All Details</a></li>
                                </ul>
                            </div>
                        </li>
                        @*<li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#Business" aria-expanded="false" aria-controls="ui-basic">
                    <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                    <span class="menu-title">Business Owner  </span>
                    <i class="menu-arrow text-primary"></i>
                </a>
                <div class="collapse" id="Business">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" asp-controller="BusinessOwner" asp-action="Create"> New Registration</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="BusinessOwner" asp-action="Index"> All Details</a></li>
                    </ul>
                </div>
            </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Customer" aria-expanded="false" aria-controls="ui-basic">
                                <i class="fas fa-users fa-lg text-primary" style="margin-right:0.7em"></i>
                                <span class="menu-title">Customer  </span>
                                <i class="menu-arrow text-primary"></i>
                            </a>
                            <div class="collapse" id="Customer">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="CustomerRegistration" asp-action="Create"> New Registration</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="CustomerRegistration" asp-action="Index"> All Details</a></li>
                                </ul>
                            </div>
                        </li>*@
                    }
                    </ul>
            </nav>
            <div class="main-panel">
                <partial name="_CookieConsentPartial" />
                <div class="content-wrapper">
                    <partial name="_Notification" />
                    @RenderBody()
                </div>
                <footer class="footer">
                    @*<p> &copy; <a asp-area="" asp-controller="Home" asp-action="Privacy"></a></p>*@
                </footer>
            </div>
        </div>
    </div>

    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">plathora</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
            <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - plathora - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*//course link*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
