
@{
    ViewData["Title"] = "TermsandConditions";
    Layout = "~/Views/Shared/_front.cshtml";
}

@*<div id="global-loader">
    <img src="../assets/images/products/products/loader.png" class="loader-img floating" alt="">
</div>*@
<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3 sptb-2" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="">Terms and Conditions</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Terms and Conditions</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--section-->
<section class="sptb">
    <div class="content-text mb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="leading-normal">Terms and Conditions</h2>

                    <p class="leading-normal fs-16">TOFOZ  food Delivery service enables transactions on its Platform between participating restaurants and buyers, dealing in prepared food and beverages. The buyers ("Buyer/s") can choose and place orders ("Orders") from a variety of food and beverages listed and offered for sale by various Restaurants, Eateries and Cafes, on the Platform.</p>
                    <p class="leading-normal fs-16">
                        The Platform is owned and operated by TOFOZ  food Delivery service and having its registered office at  M NO 2378, flat no 402, ganaraj devlopers phase 2, dobi mala road manchar. 410503.
                    </p>
                    <p class="leading-normal fs-16">
                        These Terms of Use are subject to modifications. We reserve the right to modify or change these Terms of Use and other PIC India food Delivery service policies at any time by posting modified documents on the Platform and notifying you of the same for your perusal.
                    </p>
                    <h3 class="leading-normal"> Our Pricing and GST</h3>

                    <p class="leading-normal fs-16">
                        We move to an all-inclusive pricing with our Partner Restaurants. We are working overtime to reduce the input tax impact, so that we can eventually pass on the benefit to you.
                    </p>


                    <h3 class="leading-normal"> Prices and Payment</h3>
                    <ul>
                        <li>All prices listed on the TOFOZ  App and/or Website for Food is correct at the time of publication and is as received from the Participating Restaurant. While TOFOZ food Delivery services take great care to keep them up to date, the final price charged to you by the Participating Restaurant may change at the time of delivery, based on the latest menu and prices of the Participating Restaurant.</li>
                        <li>All prices listed on the TOFOZ App and/or Website for Food Delivery by the Participating Restaurant or its delivery partner listed on the TOFOZ  App and/or Website reflect the price charged by the Participating Restaurant or its delivery partner at the time of listing.</li>
                        <li>User agrees that in case of change in price, TOFOZ  food Delivery service or its employees will not be liable to him in any manner.</li>
                        <li>The total price for Food and Food Delivery including all other charges, taxes, costs, if any, will be displayed on the TOFOZ App and/or Website when you place your order. Full payment must be made for all the particulars mentioned in the order.</li>
                        <li>If you choose online payment, you shall ensure that online payment mode is secured, your debit/credit card details will be encrypted to prevent the possibility of someone being able to read them as they are sent over the internet.</li>
                    </ul>


                    <h3 class="leading-normal"> Ordering</h3>

                    <ul>
                        <li>1. You agree that any contract for the Food and Food Delivery ordered through use of TOFOZ  App and/or Website is between you and the Participating Restaurant; any contract for the supply of TOFOZ  food Delivery service from the TOFOZ  App and/or Website is between you and PIC. You agree to take reasonable care when providing TOFOZ  with your details and warrant that these details are accurate and complete at the time of ordering food. You also warrant that the credit or debit card details that you provide are of your own credit or debit card.</li>
                        <li>2.	Participating Restaurant ensures quality standards and is solely responsible and liable for all and any issues and cases pertaining to the quality and quantity   of the food or order for eg. Veg/non v veg labeling etc. but not limited to this, to the User directly. Further User understands that TOFOZ is merely providing its platform to participating restaurants to sell their food and TOFOZ or its employees cannot be held liable in any manner for the issues.</li>
                        <li>3.	User understands that some type of Food may be suitable for Users within certain age ranges only. It is your sole responsibility to check whether the Food you are ordering is suitable for the intended recipient.</li>
                    </ul>
                    
                    <h3 class="leading-normal"> Delivery</h3>

                    <ul>
                        <li>Delivery period quoted at the time of ordering are approximate only and may vary. Food will be delivered to the address as intimated by you while ordering.</li>
                        <li>TOFOZ  food Delivery service and the Participating Restaurant will make every effort to deliver within the time stated; however, TOFOZ  will not be liable for any loss caused to you by late delivery. If the Food is not delivered within the estimated delivery time quoted, User shall contact the Participating Restaurant first. You may also contact TOFOZ  by email (tofozcustomer@gmail.com) and TOFOZ will try to ensure that you receive your order as quickly as reasonably possible.</li>
                        <li>If you fail to accept delivery of Food at the time they are ready for delivery or TOFOZ food Delivery service is unable to deliver at the nominated time due to your failure to provide appropriate instructions or authorizations, then the Food shall be deemed to have been delivered to you and all risk and responsibility in relation to such Food shall pass to you.</li>
                    </ul>
                    @*<p class="leading-normal fs-16">It is a long established fact that a reader will be distracted by the readable of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>*@
                    @*<a class="btn btn-secondary btn-lg mt-2" href="">View More</a>*@
                </div>
                @*<div class="col-lg-6">
                    <div class="border-5 br-4 mt-5 mt-lg-0 overflow-hidden">
                        <div class="owl-carousel testimonial-owl-carousel31 mt-5 mt-lg-0 about-carousel">
                            <div class="item">
                                <img src="../assets/images/products/products/h1.jpg" alt="img">
                            </div>
                            <div class="item">
                                <img src="../assets/images/products/products/h2.jpg" alt="img">
                            </div>
                            <div class="item">
                                <img src="../assets/images/products/products/h3.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!--/section-->